@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins',sans-serif;

}
body
{
	background:linear-gradient(45deg,#8500ff,#5acaff);
	height: 100vh; 
	overflow-x:hidden;
}
#container
{
	position: absolute;
	/*top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;*/
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('images/p404.png')#151729;
	box-shadow: 0 15px 30px rgba(0,0,0,.5);
	border-radius:10px; 
}
#container .content
{
	max-width: 600px;
	text-align: center;
}
#container .content h2
{
	font-size: 18vw;
	color: #fff;
	line-height: 1em;
}
#container .content h4
{
	position: relative ;
	font-size: 1.5em;
	margin-bottom: 20px;
	color: #111;
	background: #fff;
	font-weight: 300;
	padding:10px 20px ;
	display: inline-block; 
}
#container .content p
{
	color: #fff;
	font-size: 1.2em ;	
}
#container .content a 
{
	position: relative;
	display: inline-block;
	padding: 10px 25px;
	background: #ff0562;
	color: #fff;
	text-decoration: none ;
	margin-top: 25px;
	border-radius: 25px;
	border-bottom: 4px solid #d00d56;
}

.things > .content {
  float: left;
  width: 50%;
  height: 500px;
  -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
  position: relative;
}

.things > .content h1 {
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150px;
  color: #89323B;
}

/* Arrow */

.arrow {
	position: absolute;
    top: 230px;
    left: 382px;
  margin: 0 auto;
  width: 100px;
}

.arrow .curve {
	border: 2px solid #BE5F4B;
	border-color: transparent transparent transparent #BE5F4B;
	height: 360px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
	border-style: dashed;
}

.arrow .point {
	position: absolute;
	left: 40px;
	top: 315px;
}

.arrow .point:before, .arrow .point:after {
	border: 1px solid #BE5F4B;
	height: 25px;
	content: "";
	position: absolute;
}

.arrow .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.arrow .point:after {
  top: -20px;
	left: 5px;
	transform:rotate(12deg);
	-webkit-transform: rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform: rotate(12deg);
}